<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Testng">
  
   <parameter name = "Value1" value = "Bhargav is"/> 
   <parameter name = "Value2" value = "good"/>
    <classes>
     <!--  <class name="Testng.Practice.invocationcount"/>
      <class name="Testng.Practice.annotations"/>
      <class name="Testng.Practice.DependsonMethod"/>
      <class name="Testng.Practice.Grops"/> -->
      <class name="Testng.Practice.Parmeters"/>
    </classes>
  </test> <!-- Testng -->
</suite> <!-- Suite -->
